@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --clr: #191414;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--clr);
}

.navigation {
    width: 400px;
    height: 70px;
    background: #e2e2e2;
    /* position: relative; */
    position: fixed;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul {
    display: flex;
    width: 350px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.navigation ul li.active a .icon {
    transform: translateY(-32px);
}

.navigation ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: #1ed760;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--clr);
}

.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--clr);
}

.navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(70px * 4));
}

.card {
    position: fixed;
    top: 150px;
    width: 400px;
    height: 400px;
    background: #e2e2e2;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.card i {
    position: absolute;
    top: 40px;
    left: -15px;
    width: 380px;
    height: 50px;
    background: #1ed760;
    border-radius: 10px;
    border-bottom-left-radius: 0;
}

.card i::before {
    content: '';
    position: absolute;
    top: 50px;
    width: 15px;
    height: 30px;
    background: #1db954;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 2;
}

.card i::after {
    content: '';
    position :absolute;
    top: 50px;
    width: 15px;
    height: 15px;
    background: #1db954;
    z-index: 2;
}

.card i span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--clr);
    font-weight: 500;
    /* font-size: 0.75em; */
    letter-spacing: 0.1em;
    /* text-transform: uppercase; */
    margin-top: 12px;
    margin-left: 40px;
}

.toggle {
    position: fixed;
    top: 50px;
    width: 70px;
    height: 70px;
    left: 491px;
    background: #e2e2e2;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    
}

.toggle span {
    position: absolute;
    width: 40px;
    height: 4px;
    background: #1ed760;
    border-radius: 4px;
    transition: 0.5s;
}

.toggle span:nth-child(1) {
    transform: translateY(-15px);
    width: 25px;
    left: 15px;
}

.toggle.active span:nth-child(1) {
    transform: translateY(0px) rotate(45deg);
    width: 40px;
    transition-delay: 0.125s;
}

.toggle span:nth-child(2) {
    transform: translateY(15px);
    width: 15px;
    left: 15px;
}

.toggle.active span:nth-child(2) {
    transform: translateY(0px) rotate(315deg);
    width: 40px;
    transition-delay: 0.25s;
}

.toggle.active span:nth-child(3) {
    transform: translateX(60px);
}